<div class="row m-t-8">
  <div class="col-sm-6 col-md-6">
    <button mat-button color="primary" class="full-width-button green-button m-16" routerLink="/trades/new-position">New Trade</button>
  </div>
  <div class="col-sm-6 col-md-6">
    <button mat-button color="primary" class="full-width-button yellow-button m-16">Advanced Search</button>
  </div>
</div>
<!-- Statistics -->
<div class="row m-t-8">
  <div class="col-sm-6 col-md-4">
    <mat-card [ngClass]="['text-white', 'bg-indigo-500']">
      <mat-card-header>
        <mat-card-subtitle class="text-white">Total Trades</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 class="m-y-8">{{dashboardNumber.dbcard1}}</h2>
        <small class="text-muted">This Month</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6 col-md-4">
    <mat-card [ngClass]="['text-white', 'bg-blue-500']">
      <mat-card-header>
        <mat-card-subtitle class="text-white">Open Trades</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 class="m-y-8">{{dashboardNumber.dbcard2}}</h2>
        <small class="text-muted">This Month</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6 col-md-4">
    <mat-card [ngClass]="['text-white', 'bg-green-500']">
      <mat-card-header>
        <mat-card-subtitle class="text-white">Closed Trades</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 class="m-y-8">{{dashboardNumber.dbcard3}}</h2>
        <small class="text-muted">This Month</small>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- Charts -->
<div class="row m-t-8">
  <div class="col-md-7">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Traffic</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="chart1"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-5">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Weekly Revenue</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="chart2"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
