{{this.model | json}}

<mat-card>
  <mat-card-header>
    <mat-card-title>Trade</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="fg" class="form-field-full">
      <div class="row m-t-8">
        <div class="col-sm-5">
          <mat-form-field class="w-full">
            <mat-label>Symbol</mat-label>
            <mtx-select [items]="(this.lovMap['SYMBOL'] | async)!" formControlName="symbol" bindLabel="name"
                        bindValue="id"
                        autofocus required>
              <mat-error *ngIf="fg.get('symbol')?.invalid">
                {{'validations.required' | translate}}
              </mat-error>
            </mtx-select>
          </mat-form-field>
        </div>
        <div class="col-sm-1">
          <button mat-fab
                  aria-label="Add Symbol">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      </div>
      <div class="row m-t-8">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Entry Time</mat-label>
            <mtx-datetimepicker-toggle [for]="entryDate" matSuffix></mtx-datetimepicker-toggle>
            <mtx-datetimepicker #entryDate startView="month" [timeInterval]="5">
            </mtx-datetimepicker>
            <input [mtxDatetimepicker]="entryDate" autocomplete="false" formControlName="entryDate" matInput required>
            <mat-error *ngIf="fg.get('entryDate')?.invalid">
              {{'validations.required' | translate}}
            </mat-error>
            <!--            <mat-error *ngIf="fg.get('entryDate')?.errors?.dateComparison">-->
            <!--              Entry Date can't be after exit date-->
            <!--            </mat-error>-->
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field>
            <mat-label>Entry Price</mat-label>
            <input matInput placeholder="Entry Price" formControlName="tradeSplitSplitPrice">
            <mat-error *ngIf="fg.get('tradeSplitSplitPrice')?.errors?.positiveNumber">
              Must be positive number
            </mat-error>
            <mat-error *ngIf="fg.get('tradeSplitSplitPrice')?.errors?.pricegttp">
              Greater than take profit
            </mat-error>
            <mat-error *ngIf="fg.get('tradeSplitSplitPrice')?.errors?.priceltsl">
              Less than stop loss
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field>
            <mat-label>Size</mat-label>
            <input matInput placeholder="Number of shares" formControlName="tradeSplitSplitSize">
            <mat-error *ngIf="fg.get('tradeSplitSplitSize')?.errors?.positiveNumber">
              Must be positive number
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <p-button label="Total" icon="pi pi-dollar" styleClass="p-button-success" badge="{{totalPosition}}"></p-button>
        </div>
      </div>
      <section class="demo-expansion">
        <mat-expansion-panel #myPanel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>Trade Details</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row m-t-8">
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Commission</mat-label>
                <input matInput placeholder="Commission" formControlName="tradeSplitCommission">
                <mat-error *ngIf="fg.get('tradeSplitCommission')?.errors?.positiveNumber">
                  Must be positive number
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Take Profit</mat-label>
                <input matInput placeholder="Take Profit" formControlName="tradeSplitTakeProfit">
                <mat-error *ngIf="fg.get('tradeSplitTakeProfit')?.errors?.positiveNumber">
                  Must be positive number
                </mat-error>
                <mat-error *ngIf="fg.get('tradeSplitTakeProfit')?.errors?.slgttp">
                  Less than stop loss
                </mat-error>
                <mat-error *ngIf="fg.get('tradeSplitTakeProfit')?.errors?.pricegttp">
                  Less than price
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Stop Loss</mat-label>
                <input matInput placeholder="Stop Loss" formControlName="tradeSplitStopLoss">
                <mat-error *ngIf="fg.get('tradeSplitStopLoss')?.errors?.positiveNumber">
                  Must be positive number
                </mat-error>
                <mat-error *ngIf="fg.get('tradeSplitStopLoss')?.errors?.slgttp">
                  Greater than take profit
                </mat-error>
                <mat-error *ngIf="fg.get('tradeSplitStopLoss')?.errors?.priceltsl">
                  Greater than than price
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <p-button label="RR" icon="pi pi-exclamation-circle"  [styleClass]="this.rr > 1.5 ? 'p-button-success' : 'p-button-danger'" badge="{{rr}}"></p-button>
            </div>
          </div>
          <div class="row m-t-8">
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Exit Time</mat-label>
                <mtx-datetimepicker-toggle [for]="exitDate" matSuffix></mtx-datetimepicker-toggle>
                <mtx-datetimepicker #exitDate startView="month" [timeInterval]="5">
                </mtx-datetimepicker>
                <input [mtxDatetimepicker]="exitDate" autocomplete="false" formControlName="exitDate" matInput>
                <mat-error *ngIf="fg.get('exitDate')?.errors">
                  Date Error
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Exit Price</mat-label>
                <input matInput placeholder="Exit Price" formControlName="tradeSplitExitPrice">
              </mat-form-field>
            </div>
          </div>
          <div class="row m-t-8">
            <div class="col-sm-6">
              <mat-slide-toggle color="primary" formControlName="tradeSplitIsClosed" >
                Lock Trade
              </mat-slide-toggle>
            </div>
          </div>
          <mat-action-row>
          </mat-action-row>
        </mat-expansion-panel>
      </section>

    </form>
  </mat-card-content>
</mat-card>
